body {
    font-size: 14px;
}
header{
    border-bottom: 3px solid #666;
    margin-bottom: 40px;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

nav{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

nav li{
    display: inline-block;
}

nav a {
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 30px 15px 20px;
    display: block;
}

nav a:hover {
    color: #c2c2c2;
    text-decoration: none;
}

.logo{
    text-align: center;
    max-width: 160px;
    font-family: 'Black Ops One', cursive;
}

.logo p{
    font-size: 20px;
    margin-bottom: 0;
}

.logo a{
    color: #212529;
    display: block;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: yellow;
    position: relative;
}

.logo a:after{
    content: "";
    width: 0;
	height: 0;
	border-top: 100px solid yellow;
	border-right: 50px solid transparent;
	position: absolute;
	right: -50px;
	bottom: 0;
}

.logo a:before{
    content: "";
    width: 0;
	height: 0;
	border-bottom: 100px solid yellow;
	border-left: 50px solid transparent;
	position: absolute;
	left: -50px;
	bottom: 0;
}

.logo a:hover{
    text-decoration: none;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-author_posttitle{
    color: #c2c2c2;
    font-weight: normal;
}

.blog-list_pill{
    background-color:#efefef;
    padding: 15px;
    margin-bottom: 20px;
}

.blog-list_pill a{
    color: #212529;
    text-decoration: none;
}

.blog-list, .post-list {
    margin-top: 50px;
}

.post_pagination{
    position: relative;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.post_pagination ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-link {
    color: #666;
}
.page-item.active .page-link{
    background-color: #3ccbe8;
    border-color: #3ccbe8;
    cursor: auto;
}
.page-link:focus, .page-link:hover{
    color: #333;
}
.post-card {
    color: #ffffff;
    margin-bottom: 25px;
}

.post-card_frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.post-card_frame iframe, .post-card_frame img{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.post-card_title {
    padding: 15px;
    margin-bottom: 0;
    background-color: #3ccbe8;
}

.post-card a {
    color: #333;
    text-decoration: none;
}
.post-detail{
    margin-bottom: 50px;
}
.post-detail_title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-detail_intro{
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-detail .post-card_frame img{
    position: static;
	max-width: 100%;
	height: auto;
}
.post-detail_category li {
    display: inline-block;
    background-color: #ededed;
    padding: 5px 12px;
    border-radius: 5px;
}

figcaption {
    padding: 10px 15px;
    height: 55px;
    overflow: hidden;
    position: relative;
}

.post-detail figcaption{
    height: auto;
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.login-form{
    margin-top:50px;
}

.login-form form {
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}

.login-form_submit{
    text-align: right;
}

.login-form_submit button{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #3ccbe8;
    border: none;
}

.login-form_submit button:hover{
    background-color: #36B7D1;
}

.help-text {
    color: #999;
    font-size: 12px;
}


@media (min-width: 576px) {
    .logo p{
        font-size: 20px;
    }
    .logo a:before{
        top: 0;
    }
    figcaption {
        height: 120px;
    }
    .post-detail figcaption{
        height: auto;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {


}

@media (min-width: 1200px) { ... }