{% extends "base.html" %}

{% block head_title %} {{ post.post_title }} {% endblock %}

{% block h1_title %} {{ post.blog.blog_title }} {% endblock %}

{% block content %}
    <h2>{{ post.post_title }}</h2>

    {% if post.image %}
        <img src="{{ post.image }}" alt="{{ post.post_title }}" title="{{ post.post_title }}" height="400">
    {% endif %}
    <main>
        <h4>{{ post.intro }}</h4>
        <p>{{ post.content }}</p>
        <p><strong>Fecha y hora de publicación:</strong> {{ post.release_date | date:"d/m/Y H:i"}}</p>

        {% if post.category.count > 0 %}
            <strong>Categorías:</strong>
            {% for cat in post.category.all %}
                <ul>
                    <li>{{ cat.name }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}