{% extends "base.html" %}

{% block head_title %} {{ post.post_title }} {% endblock %}

{% block h1_title %} {{ post.blog.blog_title }} {% endblock %}

{% block content %}
    <section class="post-detail">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="post-detail_title">{{ post.post_title }}</h2>

                {% include "includes/render_media.html" with posts=object_list %}

                <main>
                    <h6 class="post-detail_intro">{{ post.intro }}</h6>
                    <p>{{ post.content }}</p>
                    <p><strong>Fecha y hora de publicación:</strong> {{ post.release_date | date:"d/m/Y H:i"}}</p>

                    {% if post.category.count > 0 %}
                        <div class="post-detail_category">
                            <p><strong>Categorías:</strong></p>
                            <ul>
                            {% for cat in post.category.all %}
                                <li>{{ cat.name }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </main>
            </div>
        </div>
    </section>
{% endblock %}