body {
    font-size: 14px;
}
header{
    border-bottom: 3px solid #e72030;
    margin-bottom: 40px;
}

nav{
    padding-left: 15px;
    padding-right: 15px;
}

nav a {
    color: #ed363f;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 30px 15px 20px;
    display: block;

}

nav a:hover {
    color: #c3af94;
    text-decoration: none;
}

row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul {
    padding-left: 0;
    list-style: none;
}



li{
    display: inline-block;
    background-color: #ededed;
    padding: 5px 12px;
    border-radius: 5px;
}

.truncated-text {
    //width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-list {
    margin-top: 50px;
}

.post-card {
    color: #ffffff;
    margin-bottom: 25px;
}

.post-card_title {
    padding: 15px;
    margin-bottom: 0;
    background-color: #ebebeb;
}

.post-card a {
    color: #333;
    text-decoration: none;
}

.post-detail_title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-detail_intro{
    margin-top: 30px;
    margin-bottom: 10px;
}

figure img {
    width: 100%;
    display: block;
}

figcaption {
    padding: 10px 15px;
    height: 120px;
    overflow: hidden;
    position: relative;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {


}

@media (min-width: 1200px) { ... }