{% extends "base.html" %}

{% block head_title %} Login {% endblock %}

{% block content %}
    <h1>Formulario de Login</h1>

    <section class="login-form">
        <div class="row">
            <div class="col-md-7 col-lg-6">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                {% endif %}


                <form method="post" novalidate>
                    {% csrf_token %}

                    {% include "includes/form_render.html" %}

                    <div class="login-form_submit">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
