{% extends "base.html" %}

{% block head_title %} Sign Up {% endblock %}

{% block content %}

    <h1>Formulario de Registro</h1>

    <section class="signup-form">
        <div class="row">
            <div class="col-md-7 col-lg-6">

                {% if messages %}
                    {% for message in messages %}
                        {% autoescape off %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endautoescape %}
                    {% endfor %}
                {% endif %}

                <form method="post" novalidate>
                    {% csrf_token %}

                    {% include "includes/form_render.html" %}

                    <div class="login-form_submit">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}