{% load static %}
<section class="post-list">
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-6 col-lg-3">
            <div class="post-card">
                <a href="{% url 'post_detail_page' post.blog.user post.pk %}" title="">
                    <figure>
                        <h5 class="post-card_title truncated-text">{{ post.post_title }}</h5>
                        {% if post.image %}
                            <div class="post-card_frame">
                                <img src="{{ post.image }}" alt="{{ post.post_title }}" title="{{ post.post_title }}">
                            </div>

                            <figcaption>{{ post.intro }}</figcaption>
                        {% elif post.video %}
                            <div class="post-card_frame">
                                <iframe src="{{ post.video }}" frameborder="1" allowfullscreen></iframe>
                            </div>
                        {% else %}
                            <div class="post-card_frame">
                                <img src="{% static 'images/img_default.png'%}">
                            </div>
                            <figcaption><p>{{ post.intro }}</p></figcaption>
                        {% endif %}
                    </figure>
                </a>
            </div>
        </div>
            <!-- if last column in row -->
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}

    </div>
</section>